.Login-container, .Form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Login-container {
  background-color: #fff;
  width: 500px;
  height: 400px;
  box-shadow: 3px 3px 10px #000;
  border-radius: 8px;
}
.Logo-container img {
  width: 200px;
  margin-bottom: 30px;
}
.Form-container h2 {
  font-size: 22px;
}
.Form-container form {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.Form-container .Input-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.Form-container label {
  font-weight: bold;
}
.Form-container form input {
  height: 25px;
  font-size: 16px;
  padding:6px;
}
.login-btn {
  display: flex;
  justify-content: center;
}
.login-btn button {
  width: 250px;
  background-color: #03A64D;
  color: #fff;
  border: none;
  height: 26px;
  box-shadow: 3px 3px 8px #000;
}
.login-btn button:hover {
  cursor: pointer;
  background-color: #01833b;
}