header{
  display: flex;
  flex-direction: column;
}
header .Logo-Title{
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 25px;
  width: 100%;
}
header .Logo-Title h1 {
  margin: 0 120px;
}
header .Logo-Title img {
  width: 150px;
  height: 100px;
}

.Header-content {
  border: 1px solid red;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.Header-content p {
  margin: 10px 20px;
}
.Header-content span {
  font-weight: bold;
}